%h2 Guides - Dashboard
%div= link_to("<< Back to guides", "#/guides")

%h3 Bee Event Logs
%p 
  The Dashboard provides access to logs that capture output from bee setup, 
  mount and startup.  If any errors occurred during bee creation, such as 
  a missing dependency, the event logs will likely provide useful information 
  to aid the diagnosis of an issue.  To view an applications Bee Event Logs, 
  visit the 
  = link_to("logs page", "/#/log") 
   to access logs for a particular app.
