%h2 Guides

%ul
  %li= link_to("Using the Beehive client gem", "#/guides/gem")
  %li= link_to("The Beehive dashboard", "#/guides/dashboard")
  %li= link_to("Accessing Beehive via curl", "#/guides/curl")
  %li= link_to("Using Customized start scripts", "#/guides/custom-scripts")
