{lib_dirs, ["/usr/local/lib/erlang/lib"]}.

{edoc_opts, [
  {packages, false}
]}.

{erl_opts, [{i, "../beehive/include"}, 
	     {i,"/usr/local/lib/erlang/lib/eunit-2.1.5/include"}, 
	{platform_define, "{linux}"}, 
	debug_info], 'TEST', 'EUNIT'}.

{xref_checks, [undefined_function_calls]}.


%% == EUnit ==
{eunit_opts,[test]}.

{eunit_compile_opts, [
  {src_dirs, ["test"]}
]}.

%% Dependencies %%%

{deps_dir, ["deps"]}.

{deps, [
	]}.
